@import url('reset.css');

/* --------------nav------------ */
.menu li:first-child a{
	color: #F7E8A9;
	font-weight: bold;
}

/* -----------about------------- */
.about{
	width: 62.5vw;
	margin: 0 auto 130px;
	padding-top: 96.34px;
	/* outline: 3px solid orange; */
}

.about .logo-big{
	width: 200px;
	margin-bottom: 10px;
	
	/* outline: 3px solid green; */
}

.about h1{
	font-size: 24px;
	font-weight: bold;
	align-self: center;
	
	margin-bottom: 60px;
	
	/* outline: 3px solid greenyellow; */
}

.about .slogan{
	margin-bottom: 10px;
}

.about .main_content{
	/* width: 800px; */
	/* width: 52.08vw; */
	margin: 0 auto 130px;
}
/* -----------landlord&tenant------------- */
.about ul{
	/* width: 62.5vw; */
  margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.about .landlord, .tenant{
	width: 30vw;

	border: 1px solid #726565;
	border-radius: 15px;
	background-color: #fff;
	overflow: hidden;

	/* position: relative; */
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.landlord-img, .tenant-img{
	height: 250px;
    grid-column: 1/4;
    grid-row: 1/3;
    overflow: hidden;
	
	/* outline: 2px solid red; */
}

.about li img{
	width: 530px;
	/* width: 50vw; */
	/* height: 260px; */
	/* height: 33.8vw; */
	/* margin-bottom: 30px; */
	grid-row: 1/3;
}

.landlord-content, .tenant-content{
	grid-column: 1/4;
	grid-row: 3/7;
	display: flex;
	flex-direction: column;
	
	/* outline: 3px solid orange; */
}

.about h1{
	font-size: 24px;
	font-weight: bold;
}

.about .how-to-use h1{
	margin-bottom: 40px;
}

.about h2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;

	/* grid-column: 1/4; */
    /* grid-row: 3/4; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about p{
	font-size: 14px;

	margin-bottom: 50px;
	padding: 0 8px;
}

.about a{
	display: block;

	width: 100px;
	height: 45px;
	line-height: 45px;

	text-decoration: none;
	color: #F2EFE7;
	font-size: 14px;

	background-color: #726565;
	border-radius: 15px;

	margin: 0 auto;

	/* grid-column: 1/4; */
    /* grid-row: 5/6; */
}

.about ol{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px 5px;

	margin-top: auto;
	margin-bottom: 110px;
}

.about ol li{
	margin: 0 auto;
	
}

.about .tenant .tenant_main_btn{
	width: 150px;
	height: 60px;
	line-height: 60px;

	font-size: 16px;
	background-color: #0097A7;

	/* margin-bottom: 10px; */
	
}

/* --------------------hover------------------ */
.about a:hover {
	background-color: #EFA5A5;
}

.about .tenant .tenant_main_btn:hover{
	background-color: #F7E8A9;
	color: #726565;
}
/* ---------------------768px--------------------- */
@media screen and (max-width:768px){

	.about .main_content{
		width: auto;
		margin: 0 auto 70px;
	}
	
	.about h1, .about .how-to-use h1{
		margin-bottom: 30px;
	}

	.about h2{
		margin-top: 20px;
	}

	.about h3{
		width: 90vw;
    	margin: 0 auto;
	}

	.about .landlord, .tenant{
		/* height: 870px; */
		margin: 0 2.5vw;
	}

	.about a{
		width: 80px;
		height: 40px;
		line-height: 40px;
		border-radius: 10px;

		margin-bottom: 10px;
	}

	.about .tenant .tenant_main_btn{
		width: 110px;
		height: 55px;
    	line-height: 55px;
	}

	.about li img{
		width: 380px;
		height: 260px;
		margin-bottom: 0;
	}

	.about ol{
		flex-wrap: wrap;
	}
}


/* ---------------------428px--------------------- */
@media screen and (max-width:428px){

/* ---------------about-------------------- */
	.about .logo-big{
		width: 150px;
	}

	.about h3{
		font-size: 16px;
	}

	.about ul{
		display: flex;
		flex-direction: column;
	}

	.about .landlord{
		order: 1;
	}

	.about .landlord, .tenant{
		width: 88vw;
		height: auto;
		display: flex;
		/* margin: 3.9vw auto; */
		margin: 3vw auto;
	}

	.tenant li:first-child, .tenant li:last-child{
		display: none;
	}

	.landlord-img, .tenant-img{
		width: 40vw;
		height: auto;
		display: flex;
		align-items: center;
	}

	.landlord-img img{
		position: relative;
		left: -100px;
	}

	.about li img{
		width: 320%;
		height: 100%;
	}

	.landlord-content, .tenant-content{
		width: 48vw;
	}

	.about ol{
		margin-bottom: 0;
	}

	.about a{
		margin-bottom: 20px;

		width: 75px;
		height: 30px;
		line-height: 30px;
		border-radius: 7px;

		/* width: 16vw;
		height: 7vw;
		line-height: 7vw;
		border-radius: 7px; */
	}

	.about .tenant .tenant_main_btn{
		width: 90px;
		height: 45px;
		line-height: 45px;
	}
}
/* ---------------------360px--------------------- */
@media screen and (max-width:360px){
	.about{
		width: 80vw;
	}

	.about .landlord, .tenant{
		width: 100%;
	}

	.about p{
		/* padding: 0 10px; */
	}

	.about li img{
		width: 460%;
    height: 100%;
		position: relative;
    left: -150px;
	}
}
/* ---------------------320px--------------------- */
@media screen and (max-width:320px){
	.about li img{
		width: 370%;
	}
}