@import url('reset.css');

.menu li:nth-child(2) a{
	color: #F7E8A9;
	font-weight: bold;
} 
/* -----------house-filter------------- */
.house{
	width: 62.5vw;
	margin:  0 auto 130px;
	padding-top: 66.34px;

	/* outline: 3px solid purple; */
}

.house .filter{
	/* padding-left: 80px; */
	margin-top: 40px;
	/* outline: 3px solid green; */
}

.house .filter ul{
	display: flex;
	margin-bottom: 60px;
}

.house .filter li{
	width: 150px;
	height: 50px;
	background-color: #fff;
	border-radius: 15px;
	/* padding-left: 30px; */
	margin-right: 60px;
	display: flex;
	align-content: center;
	justify-content: center;

	border: 1px solid #726565;
}

.house .filter p{
	display: block;
	line-height: 40px;
	color: #726565;
	font-size: 16px;
	line-height: 50px;

	cursor: pointer;
}

.filter .filter_btn{
	align-self: center;
	margin-left: 20px;
	cursor: pointer;
}

.city, .distriction, .type{
	position: relative;
}

.citys, .districtions1, .districtions2, .districtions3{
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 1;

	overflow-y: scroll;

	height: 250px;
	background-color: #fff;
	border: 1px solid #726565;
	border-radius: 15px;

	width: 150px;

	display: none;
}

.types{
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 1;

	/* overflow-y: scroll; */

	height: 150px;
	background-color: #fff;
	border: 1px solid #726565;
	border-radius: 15px;

	width: 150px;

	display: none;
}

.filter .citys li, .filter .distriction li{
	/* height: 40px; */
	margin-right: 0;
	font-size: 16px;
	line-height: 50px;

	border: none;
	background: none;

	width: 125px;
	cursor: pointer;
}

.filter .type li{
	margin-right: 0;
	font-size: 16px;
	line-height: 50px;

	border: none;
	background: none;

	cursor: pointer;
}
/* -----------右方拉動條------------- */
/* ::-webkit-scrollbar{
	border-radius: 0 15px 15px 0;
	background-color: #F2EFE7;
  border: 1px solid #F2EFE7;
}

::-webkit-scrollbar-thumb {
	background-color: #726565;
  border-radius: 15px;
  border: 1px solid #726565;
} */
/* ---------house-------------- */
.house a{
	/* display: block; */
	text-decoration: none;
}

.house .main_content h1{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
	
	/* outline: 3px solid lightblue; */
}

.house .main_content .btn{
	display: flex;

	/* padding-left: 40px; */
	margin-bottom: 30px;
}

.house .btn li{
	margin-right: 50px;
	
}

.house .btn a{
	display: block;
	width: 100px;
	height: 45px;
	line-height: 45px;

	background-color: #726565;
	border-radius: 15px;

	font-size: 16px;
	color: #F2EFE7;

}


.house  .content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* padding: 0px 50px; */
}

.house .content li{
	/* width: 300px; */
	width: 15.625vw;
	border: 1px solid #726565;
	border-radius: 15px;
	overflow: hidden;
	background-color: #fff;

	margin-bottom: 30px;
}

.house .main_content .house_img{
	/* width: 300px; */
	width: 15.625vw;
	/* height: 300px; */
	height: 15.625vw;
	overflow: hidden;

	position: relative;

	/* margin-bottom: 30px; */
}

.house .house_img1{
	position: absolute;
	top: -30px;
	left: -140px;
	/* width: 840px; */
	width: 33.75vw;
}

.house .house_img1-2{
	/* position: absolute; */
	/* top: -30px; */
	width: 16vw;
}


.house .house_img2{
	position: absolute;
	top: -50px;
	left: 0px;
	width: 16vw;
}

.house .house_img2-2{
	/* width: 300px; */
	width: 15.625vw;
}

.house .house_img3{
	position: absolute;
	/* top: -100px; */
	top: -5.2vw;
	left: -90px;
	/* width: 550px; */
	width: 32.7vw;
	z-index: 1;
}

.house .house_img3-2{
	position: absolute;
	left: -10px;
	top: 0;
	width: 24vw;
}

.house .house_img4{
	position: absolute;
	top: 0px;
	left: -3.95vw;

	width: 21vw;
}

.house .house_img4-2{
	width: 25vw;
}

.house .house_img5{
	position: absolute;
	top: 0px;
	left: -11.46vw;
	width: 41.67vw;
	z-index: 1;
}

.house .house_img5-2{
	position: absolute;
	top: 0;
	left: -11.46vw;
	width: 30vw;
}

.house .house_img6{
	position: absolute;
	top: 0px;
	left: -0.25vw;
	width: 24vw;
	z-index: 1;
}

.house .house_img6-2{
	position: absolute;
	top: -4vw;
	left: 0;
	width: 22.67vw;
}

.house .house_img7{
	position: absolute;
	top: 0px;
	/* left: -290px; */
	left: -15.1vw;
	/* width: 770px; */
	width: 40.1vw;
}

.house .house_img7-2{
	/* left: -15.1vw; */
	width: 21vw;
}

.house .house_img8{
	position: absolute;
	top: 0;
	left: -7.9vw;
	width: 25vw;
}

.house .house_img8-2{
	width: 15.7vw;
}

.house .house_img9{
	position: absolute;
	top: -2.3vw;
  left: -12.625vw;
  width: 30.25vw;
}

.house .house_img9-2{
	width: 24vw;
}

.house .content h4{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 0 5px;
}

.house .content p{
	font-size: 12px;
	margin-bottom: 10px;
	padding: 0 5px;
}

.house .content h5{
	font-size: 16px;
	margin-bottom: 30px;
}

.house .content a{
	display: block;
	width: 100px;
	height: 45px;
	line-height: 45px;
	background-color: #726565;
	border-radius: 15px;

	font-size: 14px;
	color: #F2EFE7;

	margin:  0 auto 30px;
}

/* --------house_page_no------------------ */
.house .page_no ul{
	display: flex;
	justify-content: center;
	margin: 0 auto;

	/* outline: 2px solid orange; */
}

.house .page_no li{
	margin: 0 5px;
}

.page_no .fa{
	margin: 0;
	font-size: 20px;
}

.house .page_no a{
	display: block;
	font-size: 16px;
	color: #726565;
}
/* -------------rule---------------- */
.rule h1{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
}

.rule p{
	font-size: 14px;
	margin-bottom: 130px;
	line-height: 2;
}
/* --------------------hover------------------ */
.house .btn a:hover, .house .content a:hover{
	background-color: #EFA5A5;
}

.house .page_no a:hover{
	color: #EFA5A5;
}

.house .house_img1:hover, .house .house_img2:hover,
.house .house_img3:hover, .house .house_img4:hover,
.house .house_img5:hover, .house .house_img6:hover,
.house .house_img7:hover, .house .house_img8:hover,
.house .house_img9:hover{
	opacity: 0;
}

/* ---------------------768px--------------------- */
@media screen and (max-width:768px){

	.house{
		margin-bottom: 70px;
	}

	.house .filter{
		/* width: 80vw; */
		padding-left: 10px;
	}

	.house .filter li{
		width:100px;
		/* height: 4vw; */
		margin-right: 30px;
	}

	.house .main_content .btn{
		padding-left: 1.3vw;
	}

	.house .btn a, .house .content a{

		width: 13.4vw;
		/* height: 40px; */
		height: 5.2vw;
		
		/* line-height: 40px; */
		line-height: 5.2vw;
		border-radius: 10px;
		border-radius: 1.5vw;
		font-size: 0.833vw;
	}

	.house .btn li{
		margin-right: 30px;
	}

	.house .content li:nth-child(6), .house .content li:nth-child(7), .house .content li:nth-child(8){
		display: none;
	}

	.rule p{
		padding: 0 10px;
		font-size: .729vw;
	}

	.house .house_img1:hover, .house .house_img2:hover,
	.house .house_img3:hover, .house .house_img4:hover,
	.house .house_img5:hover, .house .house_img6:hover,
	.house .house_img7:hover, .house .house_img8:hover,
	.house .house_img9:hover{
		opacity: 1;
	}
}

/* ---------------------428px--------------------- */
@media screen and (max-width:428px){
	.house{
		width: 80vw;
	}

	.house .main_content h1, .house .main_content .btn{
		margin-bottom: 15px;
	}

	.house .filter li{
		width: 100px;
		height: 40px;
		margin-right: 10px;
		border-radius: 10px;
	}

	.house .filter p{
		line-height: 40px;
	}

	.house .filter a{
		font-size: 0.833vw;
		line-height: 40px;
	}

	.citys, .districtions1, .districtions2, .districtions3{
		width: 97.06px;
		border-radius: 10px;
		top: 45px;
	}

	.types{
		width: 97.06px;
		height: 120px;
		top: 45px;
	}

	.filter .citys li, .filter .districtions1 li,
	 .filter .districtions2 li, .filter .districtions3 li{
		width: 80px;
		line-height: 40px;
		margin-right: 0;
	}

	.filter .types li{
		width: 97.06px;
		line-height: 40px;
		margin-right: 0;
	}


	.house .page_no li:nth-child(7), .page_no li:nth-child(8), .page_no li:nth-child(9),
	.page_no li:nth-child(10), .page_no li:nth-child(11){
		display: none;
	}

	.house .content li{
		width: 80vw;
		display: flex;
	}

	.house .main_content .house_img{
		width: 35vw;
		/* height: 35vw; */
		height: 100%;
		display: flex;
		align-self: center;
		/* outline: 3px solid blue; */
	}

	.house .house_img1{
		/* width: 145vw;
		left: -60vw; */
		
		width: 125vw;
    left: -60vw;
	}

	.house .house_img2 {
		/* width: 102vw;
		left: -25vw; */
		
		width: 62vw;
    left: -25vw;
	}	

	.house .house_img3{
		/* width: 80vw;
    top: 0;
		left: -23vw; */
		
		width: 112vw;
    top: 0px;
    left: -39vw;
	}

	.house .house_img4{
		/* width: 145vw;
    top: 0;
		left: -100vw;
		 */
		width: 105vw;
    top: 0px;
    left: -61vw;
	}

	.house .house_img5{
		/* width: 133vw;
    top: 0;
		left: -40vw; */
		
		width: 100vw;
    top: 0px;
		left: -40vw;
	}

	.house .house_img9{
	
		width: 120vw;
    left: -50vw;
	}

	.house-content{
		width: 45vw;
		padding: 0 5px;
		/* outline: 3px solid orange; */
	}

	.house .content h5{
		margin-bottom: 20px;
	}

	.house .btn a, .house .content a{
		font-size: 12px;
		margin-bottom: 0;
		/* width: 16vw;
		height: 7vw;
		line-height: 7vw; */
		width: 75px;
		height: 30px;
		line-height: 30px;
		border-radius: 7px;
	}

	.house .content a{
		margin-bottom: 20px;
	}

	.rule h1{
		margin-bottom: 30px;
	}
}
/* ---------------------360px--------------------- */
@media screen and (max-width:360px){
	.house .filter{
		padding-left: 0;
	}

	.filter .filter_btn{
		margin-left: 10px;
	}

	.house .filter ul{
		justify-content: space-between;
	}

	.house .filter li{
		width: 90px;
		margin-right: 0;
	}

	.house .filter .citys li{
		width: 80px;
	}

	.rule p{
		font-size: 12px;
		width: 80vw;
    		margin: 0 auto 130px;
	}
}


/* ---------------------320px--------------------- */
@media screen and (max-width:320px){
	.house .filter p{
		font-size: 12px;
	}

	.fa{
		font-size: 14px;
    margin-left: 10px;
	}
	
	.citys, .districtions1, .districtions2, .districtions3, .types, .filter .types li{
		width: 72px;
		font-size: 12px;
	}

	.filter .citys li, .filter .districtions1 li, .filter .districtions2 li,
	 .filter .districtions3 li{
		width: 50px;
		font-size: 12px;
	}
	

	/* .house .house_img1{
    width: 215vw;
    left: -90vw;
	}

	.house .house_img2 {
    width: 150vw;
    left: -45vw;
	}	

	.house .house_img3{
		width: 112vw;
    top: 0;
    left: -40vw;
	}

	.house .house_img4{
		width: 212vw;
    top: 0;
    left: -142vw;
	}

	.house .house_img5{
    width: 220vw;
    top: 0;
    left: -70vw;
	}

	.house .house_img9{
		width: 120vw;
    left: -74vw;
	} */


}
